.par{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.par1{
    background-color: blue;
    color: aliceblue;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
   
}
.bar{
    display: flex;
    justify-content: space-between;
    background: #000;
}
.bar1{
    color: aliceblue;
    background: blue;


}
body{
    margin: 0%;
    padding: 0%;
}
.b1{
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
}